@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
body {
  background: #edf0f1;
  padding: 80px 0 0;
  font-family: 'Roboto', sans-serif; }

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background: #691A99;
  padding: 20px;
  z-index: 100;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  header input {
    height: 40px;
    width: 100%;
    text-indent: 18px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border: 0;
    border-radius: 25px;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none; }
